
body{
    margin: 0;
    padding: 0;
    background-color: #121113;
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
}
/* Header Start */
.head{
    display: flex;
    flex-direction: row;
    background-color: #0D0D0D;
    justify-content: space-between;
    padding: 40px;
    align-items: center;
   
}
.logo{
    font-family: "Chewy";
    font-size: 32px;
    color: #F0C040;
    font-weight: 1000;
}
.links{
    display: flex;
    gap: 40px;
    
}
.head a{
    text-decoration: none;
    font-size: 18px;
    color: #E8E8E8;
     cursor: pointer;
     transition: 0.5s ease
}
a:hover{
    font-size: 24px;
    color: #C0392B;
}
/* Header End */
/* Page 1 Start */
.page1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 150px;
    align-items: center;
}
.page1 .left{
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.page1 .right img{
    width: 600px;
    height: auto;
}
.page1 .title{
    color: #F0C040;
    font-size: 50px;
    margin-bottom: 0px;
}
.page1 .subtext{
    color: rgb(154, 154, 154);
}
.page1 .signup{
    width: 35%;
    padding: 8px 24px;
    border: none;
    border-radius: 10px;
    background-color: #F0C040;
    color: black;
}
/* Page 1 End */
/* Page 2 Start */
.page2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
    background-color: #F0C040;
    padding-top: 100px ;
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 200px;
    gap: 50px;

}
.page2 img{
    height: 150px;
    width: auto;
}
.page2 .game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page2 .game .title{
    font-size: 24px;
    font-weight: 700;
}
.page2 .game .description{
    text-align: justify;
    font-size: 14px;
}
/* Page 2 End */
/* Page 3 Start */
.page3{
    display: flex;
    flex-direction: column;
    background-color: #FFF9D2;
    justify-content: center;
    align-items: end;
    padding: 100px 200px;
}
.page3 .Quote{
    font-size: 40px;
    font-style: italic;
}
.page3 .author{
    font-size: 30px;
}
/* Page 3 End */
/* Page 4 Start */
.page-4{
    background-color: #0D0D0D;
    padding: 200px 400px;
}
.page-4 .sign-up-card{
    padding: 100px;
    background-color: #C0392B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
}
.login{
    height: 100%;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: black;
    margin-bottom: 10px;
    color: white;
}
input{
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    width: 500px;
}
.Reg{
    text-decoration: none;
    color: #ffffff;
}
/* Page 4 End */
.footer{
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C0392B;
    color: #0D0D0D;
}